.container {
  display: flex;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
}

.img {
  object-fit: contain;
}

.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--txt);
}

.form button {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--btn);
  color: var(--txt);
  font-weight: bold;
  cursor: pointer;
}
